.sport-slider-container {
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  margin-top: 105px;
}

.sport-slider-image {
  width: 100%;
  height: 430px;
}

.sport-main-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 380px;
}

.sport-text-content {
  width: 50%;
  height: 100%;
  padding-top: 10px;
  padding-left: 31px;
}

.sport-text-content h1 {
  color: rgb(0, 0, 0);
  font-size: 31px;
  font-weight: bold;
}

.sport-text-content h4 {
  color: rgb(14, 14, 14);
  font-size: 19px;
  font-weight: bold;
}

.sport-main-image {
  height: 70%;
  width: 77%;
  margin-left: 80px;
  border: 1px solid rgb(12, 12, 12); 
  transition: transform 0.3s ease, border-color 0.3s ease;
  padding: 30px;
}

.sport-main-image:hover {
  transform: scale(1.1);
  border-color: rgb(255, 6, 6);
}

.sport-image-container {
  margin-top: 20px;
}

.sport-age-group-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  margin-top: 30px;
}

.sport-age-group-title {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.sport-age-group-subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.sport-age-group-circles {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.sport-age-group-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.sport-circle-dots {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.1rem;
  padding-top: 0px;
}

.sport-circle-dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.sport-circle-text {
  list-style: none;
  padding: 0;
  text-align: center;
  font-size: 13px;
  color: aliceblue;
  font-weight: bold;
}

.sport-age-group-circle-title {
  color: aliceblue;
  font-size: 17px;
  font-weight: bold;
}

.sport-age-group-circle-subtitle {
  color: aliceblue;
  font-size: 17px;
  margin-bottom: 20px;
  font-weight: bold;
}
